<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at(" images
    /favicon.png")">
    <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../../target/web/public/main/styles/summary.css"/>

    <!--bootstrap ver4.0 -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    -->

</head>
<body>

<!--navigation bar start-->
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">홈으로</a></li>
            </ul>
            <ul class="nav navbar-nav">

                <li><a href="/signIn">로그인</a></li>
                <li><a href="/signUp">회원가입</a></li>
                <li><a href="/summary">도표요약</a></li>
                <li><a href="/goal">목표과목과 학점</a></li>
                <li><a href="/summary">새로운 도표요약</a></li>
                <li><a href="/final">총 요약 페이지</a></li>

            </ul>
        </nav>
    </div>
</header>
<!--navigation bar end-->

<main class="container">
    <br>
    <div class="col-md-10 col-md-offset-1" id="present_state">
        <h3>총 취득</h3>

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>취득</th>
                <th>총</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>학점취득현황</th>
                <td>00</td>
                <td>154</td>
            </tr>
            <tr>
                <th>성적취득현황</th>
                <td>00</td>
                <td>4.5</td>
            </tr>
            <tr>

            </tbody>
        </table>

    </div>

    <br>
    <br>
    <br>
    <br>



    <button type="button" id="add_btn" class="btn btn-primary btn-sm">ADD</button>


    <br>
    <br>
    <br>

    <form>


        <p id="submit_p"></p>
    </form>


    <br>
    <hr>
    <div class="col-md-10 col-md-offset-1" id="future_state">
        <h3>최종 취득 예상</h3>

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>취득</th>
                <th>총</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>학점취득현황</th>
                <td>00</td>
                <td>154</td>
            </tr>
            <tr>
                <th>성적취득현황</th>
                <td>00</td>
                <td>4.5</td>
            </tr>
            <tr>

            </tbody>
        </table>

    </div>

<!--
    <div id="colorpad" style="width:300px;height:300px;background-color:#000">

    </div>
    <button onclick="setRandomColor()">Random Color</button>
-->

</main>


    <script>


        var num=0;
        var flag=0;

        $("#add_btn").click(function(){

            if(num%3 ==0){



                $("form").append("<div class='col-md-10 col-md-offset-1'> <h3>미래 목표점수</h3> <table class='table table-colorpad1' >   <thead> <tr> <th></th> <th>취득</th> <th>총</th> </tr> </thead>  <tbody> <tr> <th>해당학기 들을 학점</th> <td><div class='col-md-4'><input type='number' class='form-control' min='0' max='154'></div></td> <td>154</td> </tr> <tr> <th>목표성적</th> <td><div class='col-md-4'><input type='number' class='form-control' min='0' max='4.5'></div></td> <td>4.5</td> </tr> <tr> </tbody> </table></div>");

                $(".table-colorpad1").css("background-color", getRandomColor1() );



                num++;



            } else if(num % 3 ==1){



                $("form").append("<div class='col-md-10 col-md-offset-1'> <h3>미래 목표점수</h3> <table class='table table-colorpad2'>   <thead> <tr> <th></th> <th>취득</th> <th>총</th> </tr> </thead>  <tbody> <tr> <th>해당학기 들을 학점</th> <td><div class='col-md-4'><input type='number' class='form-control' min='0' max='154'></div></td> <td>154</td> </tr> <tr> <th>목표성적</th> <td><div class='col-md-4'><input type='number' class='form-control' min='0' max='4.5'></div></td> <td>4.5</td> </tr> <tr> </tbody> </table></div>");

                $(".table-colorpad2").css("background-color", getRandomColor2() );


                num++;



            } else if(num % 3 ==2){



                $("form").append("<div class='col-md-10 col-md-offset-1'> <h3>미래 목표점수</h3> <table class='table table-colorpad3'>   <thead> <tr> <th></th> <th>취득</th> <th>총</th> </tr> </thead>  <tbody> <tr> <th>해당학기 들을 학점</th> <td><div class='col-md-4'><input type='number' class='form-control' min='0' max='154'></div></td> <td>154</td> </tr> <tr> <th>목표성적</th> <td><div class='col-md-4'><input type='number' class='form-control' min='0' max='4.5'></div></td> <td>4.5</td> </tr> <tr> </tbody> </table></div>");

                $(".table-colorpad3").css("background-color", getRandomColor3() );


                num++;

            }

            if(flag==0){
                $("#submit_p").append("<input type='submit' value='Submit'>");
                flag=1;
            }
        });

        function getRandomColor1() {

            var color ='#d9edf7'

            return color;
        }

        function getRandomColor2() {

            var color ='#269abc'

            return color;
        }

        function getRandomColor3() {

            var color ='#c9e2b3'

            return color;
        }







    </script>

</body>
</html>