<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goal</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at(" images
    /favicon.png")">
    <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../../target/web/public/main/styles/summary.css"/>

    <!--bootstrap ver4.0 -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    -->
</head>

<body>
<!--navigation bar start-->
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">홈으로</a></li>
            </ul>
            <ul class="nav navbar-nav">

                <li><a href="/signIn">로그인</a></li>
                <li><a href="/signUp">회원가입</a></li>
                <li><a href="/summary">도표요약</a></li>
                <li><a href="/goal">목표과목과 학점</a></li>
                <li><a href="/summary">새로운 도표요약</a></li>
                <li><a href="/final">총 요약 페이지</a></li>

            </ul>
        </nav>
    </div>
</header>
<!--navigation bar end-->

<main class="container">

    <form>
    <div class="col-md-6" id="first_major">
        <h1>제1전공</h1>

        <div id="first_major_recom">
            <fieldset>
                <legend>다음학기 추천 강의</legend>

            </fieldset>
        </div>

        <div id="first_major_re">
            <fieldset>
                <legend>재수강</legend>

            </fieldset>
        </div>

        <div id="first_major_other">

            <fieldset>
                <legend>기타 전공인정 강의</legend>

            </fieldset>
        </div>

    </div>


    <div class="col-md-6" id="second_major">
        <h1>제2전공</h1>

        <div>
            <fieldset>
                <legend>다음학기 추천 강의</legend>

            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>재수강</legend>

            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>기타 전공인정 강의</legend>

            </fieldset>
        </div>

    </div>


    <div class="col-md-12">

        <h1>교양과목</h1>
        <fieldset>
            <legend>요일</legend>

            <label class="btn btn-success">
                <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkAll">전체
                <span class="glyphicon glyphicon-ok"></span>
            </label>

            <label class="btn btn-primary btn-week">
                <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkMon">월요일
                <span class="glyphicon glyphicon-ok"></span>
            </label>

            <label class="btn btn-info btn-week">
                <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkTue">화요일
                <span class="glyphicon glyphicon-ok"></span>
            </label>

            <label class="btn btn-default btn-week">
                <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkWed">수요일
                <span class="glyphicon glyphicon-ok"></span>
            </label>

            <label class="btn btn-warning btn-week">
                <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkThu">목요일
                <span class="glyphicon glyphicon-ok"></span>
            </label>

            <label class="btn btn-danger btn-week">
                <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkFri">금요일
                <span class="glyphicon glyphicon-ok"></span>
            </label>
        </fieldset>

        <fieldset>
            <legend>영역</legend>

            <div class="panel-group col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">공통교양</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <label class="btn btn-success">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkAll_2">전체
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_1">인문강좌
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_2">교양외국어
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_3">실용외국어
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_4">언어와
                                    문학
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_5">문화와
                                    예술
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_6">역사와
                                    철학
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_7">국가와
                                    사회
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_8">과학과
                                    기술
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-area">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="common_9">핵심인문기초
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                        </ul>
                        <div class="panel-footer">교양과목의 영역을 선택하시오</div>
                    </div>
                </div>
            </div>


            <div class="panel-group col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">특수교양</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <label class="btn btn-success">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="checkAll_3">전체 &nbsp; &nbsp; &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>


                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_1">신입생세미나
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_2">HUFS CAREER
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_3">학습포트폴리오
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_4">건강과 레포츠
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_5">특별교양
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_6">외국인을 위한 한국학
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_7">공동교양(한예종)
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_8">군사학
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                <label class="btn btn-info btn-special">
                                    <input type="checkbox" class="checkbox_click" autocomplete="off" id="special_9">핵심인문기초
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </li>

                        </ul>
                        <div class="panel-footer">교양과목의 영역을 선택하시오</div>
                    </div>
                </div>
            </div>


        </fieldset>

    </div>

    <!--Show the non-major classes-->
    <div class="col-md-12">

        <fieldset id="select_non_major">
            <legend>교양과목을 선택하세요</legend>


        </fieldset>


    </div>

    <!--
    <div class="col-md-12">
        <h2>자선과목</h2>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg"/>
                <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                </span>
            </div>
        </div>
    </div>
    -->


    <!--
    <div class="col-md-6">
        <h1>json test</h1>
        <p id="demo"></p>
    </div>
    -->
    <div class="col-md-6 col-md-offset-3">
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="원하는 수업을 모두 선택 후 클릭">
    </div>



    </form>
</main>



<script type="text/javascript">

    /**
    $("#checkAll").change(function () {
        $(".col-md-12 .btn-week input:checkbox").prop('checked', $(this).prop("checked"));
    });

    $("#checkAll_2").change(function () {
        $(".col-md-12 .btn-area input:checkbox").prop('checked', $(this).prop("checked"));
    });

    $("#checkAll_3").change(function () {
        $(".col-md-12 .btn-special input:checkbox").prop('checked', $(this).prop("checked"));
    });
    **/
    /********JSON*********/
    var arr;
    var myJSON;
    /**test**/
    /**
     $.getJSON("test.json", function(json) {
        arr=json;  //테스트
    });
     **/
    /**
    $.getJSON("2017-01.json", function (json) {
        myJSON = json;
        //console.log(myJSON);
    });
    **/
    /***json파일 읽어들이기***/
    /**
     $(function(){
        $.ajax({
            url:"2017-01.json",
            dataType:"json",
            success:function(result){
                $.each(result.courses, function(i,d){
                    $("#wrap ol").append("<li>" +d["courseName1"]+"</li>");
                });
            }
        });
    });
     **/
    /*
     $.each(myJSON, function(i,d){
     $("#wrap ol").append("<li>" +d["courseTime[0]"]+"</li>");
     });
     `   */

    // document.getElementById("demo").innerHTML = myJSON.major[0].courses[0].courseName1;


    // var newJSON = myJSON.filter(function(item){

    //     return item.major[2]==="A1CE1_H1";
    // });

    var dayOfWeekArr = ["#checkMon", "#checkTue", "#checkWed", "#checkThu", "#checkFri"]
    var areaOfClassArr = ["#common_1", "#common_2", "#common_3", "#common_4", "#common_5", "#common_6", "#common_7", "#common_8", "#common_9", "#special_1", "#special_2", "#special_3", "#special_4", "#special_5", "#special_6", "#special_7", "#special_8", "#special_9"]
    var ArrOfAllButton = ["#checkMon", "#checkTue", "#checkWed", "#checkThu", "#checkFri","#common_1", "#common_2", "#common_3", "#common_4", "#common_5", "#common_6", "#common_7", "#common_8", "#common_9", "#special_1", "#special_2", "#special_3", "#special_4", "#special_5", "#special_6", "#special_7", "#special_8", "#special_9"]

    var ArrOfAllButton_button={
        //요일
        "#checkMon": ["Mon"],
        "#checkTue": ["Tue"],
        "#checkWed": ["Wed"],
        "#checkThu": ["Thu"],
        "#checkFri": ["Fri"],
        //공통교양
        "#common_1": ["인문강좌"],
        "#common_2": ["교양외국어"],
        "#common_3": ["실용외국어(선택)"],
        "#common_4": ["언어와문학"],
        "#common_5": ["문화와예술"],
        "#common_6": ["역사와철학"],
        "#common_7": ["국가와사회"],
        "#common_8": ["과학과기술"],
        "#common_9": ["핵심인문기초"],
        //특수교양
        "#special_1": ["신입생세미나"],
        "#special_2": ["HUFS CAREER"],
        "#special_3": ["학습포트폴리오"],
        "#special_4": ["건강과레포츠"],
        "#special_5": ["특별교양"],
        "#special_6": ["외국인을 위한 한국학"],
        "#special_7": ["공동교양(한예종)"],
        "#special_8": ["군사학"],
        "#special_9": ["핵심인문기초"]
    }

    var dayOfWeek_day = {
        "#checkMon": ["Mon"],
        "#checkTue": ["Tue"],
        "#checkWed": ["Wed"],
        "#checkThu": ["Thu"],
        "#checkFri": ["Fri"]
    }

    var areaOfClass_area = {
        "#common_1": ["인문강좌"],
        "#common_2": ["교양외국어"],
        "#common_3": ["실용외국어(선택)"],
        "#common_4": ["언어와문학"],
        "#common_5": ["문화와예술"],
        "#common_6": ["역사와철학"],
        "#common_7": ["국가와사회"],
        "#common_8": ["과학과기술"],
        "#common_9": ["핵심인문기초"],

        "#special_1": ["신입생세미나"],
        "#special_2": ["HUFS CAREER"],
        "#special_3": ["학습포트폴리오"],
        "#special_4": ["건강과레포츠"],
        "#special_5": ["특별교양"],
        "#special_6": ["외국인을 위한 한국학"],
        "#special_7": ["공동교양(한예종)"],
        "#special_8": ["군사학"],
        "#special_9": ["핵심인문기초"]
    }

    /****Remove Duplicates from Array****/
    function uniq(a) {
        var prims = {"boolean":{}, "number":{}, "string":{}}, objs = [];

        return a.filter(function(item) {
            var type = typeof item;
            if(type in prims)
                return prims[type].hasOwnProperty(item) ? false : (prims[type][item] = true);
            else
                return objs.indexOf(item) >= 0 ? false : objs.push(item);
        });
    }

    /********checkbox click actions**************/
    $(document).ready(
        function(){
            //json파일 읽어오기
            $.getJSON("2017-01.json", function(json){
                myJSON=json;
                //myJSON에 교양과목만 집어넣기
                myJSON = myJSON.filter(function (weekday) {
                    return !weekday.hasOwnProperty("majorName2")
                })
                //console.log(myJSON);
            })

            //전체버튼 클릭 시
            $("#checkAll").change(function () {
                $(".col-md-12 .btn-week input:checkbox").prop('checked', $(this).prop("checked"));
            });

            $("#checkAll_2").change(function () {
                $(".col-md-12 .btn-area input:checkbox").prop('checked', $(this).prop("checked"));
            });

            $("#checkAll_3").change(function () {
                $(".col-md-12 .btn-special input:checkbox").prop('checked', $(this).prop("checked"));
            });
            //checkbox클릭시 동작
            $(".checkbox_click").change(function(){

                //기존의 checkbox들 싹 지우기
                $("#select_non_major").empty();
                $("#select_non_major").append("<legend>교양과목을 선택하세요</legend>");





                //if($("#checkAll").checked){
                //    $(".col-md-12 .btn-week input:checkbox").prop('checked', true);
                //}
                /**
                if($("#checkAll").prop('checked',false)){
                    $(".col-md-12 .btn-week input:checkbox").prop('checked', false)
                }

                if($("#checkAll_2").prop('checked')){
                    $(".col-md-12 .btn-area input:checkbox").prop('checked', true)
                }

                if($("#checkAll_2").prop('checked',false)){
                    $(".col-md-12 .btn-area input:checkbox").prop('checked', false)
                }

                if($("#checkAll_3").prop('checked')){
                    $(".col-md-12 .btn-special input:checkbox").prop('checked', true)
                }

                if($("#checkAll_3").prop('checked',false)){
                    $(".col-md-12 .btn-special input:checkbox").prop('checked', false)
                }
                 **/

                var ArrOfClickedButton=[];
                ArrOfAllButton.forEach(function(allButton){
                    if($(allButton).prop('checked')){
                        ArrOfClickedButton.push(allButton)
                    }
                })
                //console.log(ArrOfClickedButton);
                var newArr_Total=[];
                var newArr1=[]; //요일 배열
                var newArr2=[]; //영역 배열
                //console.log(newArr1);
                //console.log(newArr2);
                //console.log(newArrtemp1);
                //console.log(newArrtemp2);
                ArrOfClickedButton.forEach(function(clickedButton){
                    var newArrtemp1=[];
                    var newArrtemp2=[];
                    //요일 버튼이 클릭되어 있을 때 반응
                    if(jQuery.inArray(clickedButton, dayOfWeekArr) !== -1){
                        newArrtemp1 = myJSON.filter(function (buttonCondition){
                            return buttonCondition.courseTime.hasOwnProperty(ArrOfAllButton_button[clickedButton])
                        })
                    }//영역 버튼이 클릭되어 있을 때 반응
                    else if(jQuery.inArray(clickedButton, areaOfClassArr) !== -1){
                        newArrtemp2= myJSON.filter(function (buttonCondition) {
                            return buttonCondition.courseType.includes(ArrOfAllButton_button[clickedButton])
                        })
                    }
                    //console.log(newArrtemp1)
                    //console.log(newArrtemp2)
                    //newArr=newArr.concat(newArr_temp);
                    newArr1=newArr1.concat(newArrtemp1);
                    newArr2=newArr2.concat(newArrtemp2);
                })
                //console.log(newArr);
                //console.log(newArr1);
                //console.log(newArr2);
                //newArr_Total= newArr1.concat(newArr2);

                ArrOfClickedButton.forEach(function(clickedButton){
                    //요일 버튼이 클릭되어 있을 때 반응
                    if(jQuery.inArray(clickedButton, dayOfWeekArr) !== -1){
                        newArr2 = newArr2.filter(function (buttonCondition){
                            return buttonCondition.courseTime.hasOwnProperty(ArrOfAllButton_button[clickedButton])
                        })
                        //영역 버튼이 클릭되어 있을 때 반응
                    }else if(jQuery.inArray(clickedButton, areaOfClassArr) !== -1){
                        newArr1= newArr1.filter(function (buttonCondition) {
                            return buttonCondition.courseType.includes(ArrOfAllButton_button[clickedButton])
                        })
                    }
                })

                newArr_Total=newArr1.concat(newArr2);


                //check되지 않은 요일들만 모아둘 배열
                var ArrOfUnClickedButton = ["#checkMon", "#checkTue", "#checkWed", "#checkThu", "#checkFri"];
                ArrOfClickedButton.forEach(function(clickedButton){
                    if(jQuery.inArray(clickedButton, dayOfWeekArr) !== -1){
                        ArrOfUnClickedButton= ArrOfUnClickedButton.filter(function(unclicked){
                            return unclicked != clickedButton;
                        })
                    }
                })
                //console.log(ArrOfUnClickedButton);
                //console.log(newArr_Total);
                /**
                ArrOfUnClickedButton.forEach(function(unclicked){
                    if(jQuery.inArray(unclicked, dayOfWeekArr) !== -1) {
                        newArr_Total_temp = newArr_Total.filter(function (buttonCondition) {
                            return !buttonCondition.courseTime.hasOwnProperty(ArrOfAllButton_button[unclicked]);
                        })
                    }
                })
                 **/

                ArrOfClickedButton.forEach(function(clickedButton){
                    if(jQuery.inArray(clickedButton, dayOfWeekArr) !== -1){
                        newArr_Total=newArr_Total.filter(function(buttonCondition){
                            return buttonCondition.courseTime.hasOwnProperty(ArrOfAllButton_button[clickedButton])
                        })
                    }
                })



                newArr_Total.forEach(function(suchCourse){
                    var dayOfWeek = Object.keys(suchCourse.courseTime);
                    //console.log(dayOfWeek);

                    //console.log(suchCourse.courseTime[dayOfWeek[0]].time)

                    var dayAndtime=[];
                    dayOfWeek.forEach(function(weekday){
                        //console.log(suchCourse.courseTime[weekday].time);
                        var timeOfWeek= suchCourse.courseTime[weekday].time;
                        //console.log(timeOfWeek);
                        var timeOfWeek_time=timeOfWeek.join();
                        //console.log(timeOfWeek_time);
                        dayAndtime.push("  [" + weekday + timeOfWeek_time+"]");
                        //console.log(dayAndtime);
                    })
                    //console.log(timeOfWeek)

                    return $("#select_non_major").append("<div class='col-md-6 col_m'><input type='checkbox'>" + suchCourse.courseName1 + "(" + dayAndtime +")" + "</div>")

                })


            })


        }
    )


    /*****************
    $(document).ready(
        function () {

            $.getJSON("2017-01.json", function (json) {
                myJSON = json;
                //console.log(myJSON);
                //myJSON에 교양과목만 집어넣기
                myJSON = myJSON.filter(function (weekday) {
                    return !weekday.hasOwnProperty("majorName2")
                })
            });

            $(".checkbox_click").on('click',function (){
                //alert("debugging!!");
                //기존의 checkbox들 싹 지우기
                $("#select_non_major").empty();
                ArrOfAllButton.forEach(function(allButton){
                    //alert("debugging!!!!!!!!!!!!!!!");
                    //기존의 checkbox들 싹 지우기
                    // $("#select_non_major").empty();
                    //myJSON에 교양과목만 집어넣기
                    myJSON = myJSON.filter(function (weekday) {
                        return !weekday.hasOwnProperty("majorName2")
                    })

                    if ($(allButton).prop('checked')) {

                        var newArr1_temp = myJSON.filter(function(buttonCondition){
                            return buttonCondition.courseTime.hasOwnProperty(ArrOfAllButton_button[allButton])
                        });
                        //console.log(newArr1);
                        var newArr2_temp= myJSON.filter(function(buttonCondition){
                            //ArrOfAllButton_button[allButton].includes(buttonCondition.courseType)
                            return buttonCondition.courseType.includes(ArrOfAllButton_button[allButton])
                            //areaOfClass_area[areaOfClass].includes(classarea.courseType)
                        })

                        //console.log(newArr2);

                        //if($(allButton).prop('checked')){
                        //   var newArr=newArr.filter(function(buttonCondition){
                        //       return buttonCondition.courseName1.hasOwnProperty(ArrOfAllButton_button[])
                        //   })
                        //}


                        //newArr = newArr1.filter(function(val) {
                        //   return newArr2.indexOf(val) == -1;
                        // });

                        //var newArr= newArr1.concat(newArr2);
                        //uniq(newArr);


                        console.log(newArr);
                        newArr.forEach(function(buttonCondition){
                            return $("#select_non_major").append("<div class='col-md-6 col_m " + allButton.substring(1) + "'><input type='checkbox'> " + buttonCondition.courseName1 + "</div>")
                        })


                        newArr1= newArr1.concat(newArr1_temp);
                        newArr2= newArr2.concat(newArr2_temp);


                    }
                })

                console.log(newArr1);
                console.log(newArr2);

                var newArr=newArr1.concat(newArr2);
                uniq(newArr);
                console.log(newArr);



            })
        }
    )

    *************/


    /***요일별 교양 checkbox***/
    /**
     $(document).ready(
     function () {
            dayOfWeekArr.forEach(function (dayOfWeek) {
                $(dayOfWeek).on('click', function () {
                    $("#select_non_major").empty();
                    //alert("debugging!!");
                    myJSON = myJSON.filter(weekday => !weekday.hasOwnProperty("majorName2")
                    )
                    ;
                    if ($(dayOfWeek).prop('checked')) {
                        //alert("debugging_second!!");
                        var newArr = myJSON.filter(weekday => weekday.courseTime.hasOwnProperty(dayOfWeek_day[dayOfWeek])
                    )
                        ;
                        //newArr=newArr.filter(weekday => !weekday.hasOwnProperty("majorName2"));
                        //console.log(newArr);
                        areaOfClassArr.forEach(function (areaOfClass) {
                            if ($(areaOfClass).prop('checked')) {

                                newArr = newArr.filter(classarea => areaOfClass_area[areaOfClass].includes(classarea.courseType)
                            )
                            }
                        })

                        newArr.forEach(weekday => $("#select_non_major").append(" <div class='col-md-6 col_m " + dayOfWeek.substring(1) + "'><input type='checkbox'> " + weekday.courseName1 + "(" + weekday.courseTime[dayOfWeek_day[dayOfWeek]].time + ")" + "</div>"))
                        //$(areaOfClass).on('click', function)
                    } else if ($(dayOfWeek).prop('checked', false)) {
                        $("." + dayOfWeek.substring(1)).detach();
                    }


                });
            })
        });
     **/
    /***영역별 교양 checkbox***/
    /**
     $(document).ready(
     function () {
            areaOfClassArr.forEach(function (areaOfClass) {
                $(areaOfClass).on('click', function () {
                    //alert("debugging!!");
                    $("#select_non_major").empty();
                    myJSON = myJSON.filter(weekday => !weekday.hasOwnProperty("majorName2")
                    )
                    ;
                    if ($(areaOfClass).prop('checked')) {
                        //alert("debugging_second!!");
                        var newArr = myJSON.filter(classarea => areaOfClass_area[areaOfClass].includes(classarea.courseType)
                    )
                        console.log(newArr);
                        dayOfWeekArr.forEach(function (dayOfWeek) {
                            if ($(dayOfWeek).prop('checked')) {
                                //var newArr = myJSON.filter(weekday => weekday.courseTime.hasOwnProperty(dayOfWeek_day[dayOfWeek])
                                newArr = newArr.filter(weekday => weekday.courseTime.hasOwnProperty(dayOfWeek_day[dayOfWeek])
                            )
                            }
                        })
                        newArr.forEach(classarea => $("#select_non_major").append(" <div class='col-md-6 col_m " + areaOfClass.substring(1) + "'><input type='checkbox'> " + classarea.courseName1 +  "(" + classarea.courseTime[dayOfWeek_day[dayOfWeek]].time + ")" +"</div>")
                    )
                    } else {
                        $("." + areaOfClass.substring(1)).detach();
                    }
                });
            })
        });
     **/

    /**test**/
    /*
     $(document).ready(
     function () {
     dayOfWeekArr.forEach(function (dayOfWeek) {
     $(dayOfWeek).on('click', function () {
     //alert("debugging!!");
     if ($(dayOfWeek).prop('checked')) {
     //alert("debugging_second!!");

     var newArr = arr.filter(weekday => dayOfWeek_day[dayOfWeek].includes(weekday.day)
     )
     areaOfClassArr.forEach(function (areaOfClass) {
     if ($(areaOfClass).prop('checked')) {
     newArr = newArr.filter(classarea => areaOfClass_area[areaOfClass].includes(classarea.area)
     )
     }
     })
     newArr.forEach(weekday => $("#select_non_major").append(" <div class='col-md-6 col_m " + dayOfWeek.substring(1) + "'><input type='checkbox'> " + weekday.name + "</div>")
     )
     } else {
     $("." + dayOfWeek.substring(1)).detach();
     }
     });
     })
     });
     *********** */



    /*test*/
    /*
     $(document).ready(
     function () {
     areaOfClassArr.forEach(function (areaOfClass) {
     $(areaOfClass).on('click', function () {
     //alert("debugging!!");
     if ($(areaOfClass).prop('checked')) {
     //alert("debugging_second!!");
     var newArr = arr.filter(classarea => areaOfClass_area[areaOfClass].includes(classarea.area)
     )
     areaOfClassArr.forEach(function (areaOfClass) {
     if ($(areaOfClass).prop('checked')) {
     newArr = newArr.filter(classarea => areaOfClass_area[areaOfClass].includes(classarea.area)
     )
     }
     })
     newArr.forEach(classarea => $("#select_non_major").append(" <div class='col-md-6 col_m " + areaOfClass.substring(1) + "'><input type='checkbox'> " + classarea.name + "</div>")
     )
     } else {
     $("." + areaOfClass.substring(1)).detach();
     }
     });
     })
     });
     */

    /******************************************
     $(document).ready(
     function () {
     $("#checkMon").on('click', function () {
     //alert("debugging!!");
     if ($("#checkMon").prop('checked')) {
     //alert("debugging!!");
     var i=0;
     while(newArr[i]!==null) {
     $("#select_non_major").append(" <div class='col-md-6 col_m'><input type='checkbox'> " + newArr[i].name + "</div>");

     i++;

     }
     }else{
     $(".col_m").detach();
     }
     });
     });

     $(document).ready(
     function () {
     $("#checkTue").on('click', function () {
     //alert("debugging!!");
     if ($("#checkTue").prop('checked')) {
     //alert("debugging!!");
     $("#select_non_major").append("<div class='col-md-6 col_t'><input type='checkbox'> " + newArr2[0].name + "</div>");
     }else{
     $(".col_t").detach();
     }
     });
     });

     $(document).ready(
     function () {
     $("#checkWed").on('click', function () {
     //alert("debugging!!");
     if ($("#checkWed").prop('checked')) {
     //alert("debugging!!");
     $("#select_non_major").append("<div class='col-md-6 col_w'><input type='checkbox'> " + newArr2.name + "</div>");
     }else{
     $(".col_w").detach();
     }
     });
     });

     $(document).ready(
     function () {
     $("#checkThu").on('click', function () {
     //alert("debugging!!");
     if ($("#checkThu").prop('checked')) {
     //alert("debugging!!");
     $("#select_non_major").append("<div class='col-md-6 col_th'><input type='checkbox'> " + newArr2[0].name + "</div>");
     }else{
     $(".col_th").detach();
     }
     });
     });

     $(document).ready(
     function () {
     $("#checkFri").on('click', function () {
     //alert("debugging!!");
     if ($("#checkFri").prop('checked')) {
     //alert("debugging!!");
     $("#select_non_major").append("<div class='col-md-6 col_f'><input type='checkbox'> " + newArr2[0].name + "</div>");
     }else{
     $(".col_f").detach();
     }
     });
     });

     */

    /**
     function find_in_object(my_object, my_criteria){

        return my_object.filter(function(obj) {
            return Object.keys(my_criteria).every(function(c) {
                return obj[c] == my_criteria[c];
            });
        });

    }
     ***************************************************/

    /*** "전체" 체크박스를 눌렀을 때 ***/
    /**
    $("#checkAll").change(
        function () {
            if ($("#checkMon").prop('checked')) {
                alert("월요일 체크박스 체크!");
            } else {
                alert("월요일 체크박스 해제!");
            }
        });
    **/

</script>


<!--bootstrap ver 4.0-->
<!--
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
-->
</body>
</html>
