@(signUpForm: Form[forms.SignUpForm.Data])(majorByType: Function1[models.MajorType, Seq[(String, String)]])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor
@import models.MajorType._


@main(Messages("sign.up.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("sign.up.account")</legend>
        @helper.form(action = routes.SignUpController.submit()) {
            @helper.CSRF.formField
            @b3.text(signUpForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg", 'pattern -> "[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}")
            @b3.text(signUpForm("SchoolNumber"), '_hiddenLabel -> Messages("SchoolNumber"), 'placeholder -> Messages("SchoolNumber"), 'class -> "form-control input-lg", 'pattern -> "[0-9]{9}")
            @passwordStrength(signUpForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
            <input type="password" class="form-control input-lg" id="passwordcheck" data-rule-required="true" placeholder="비밀번호 확인" maxlength="30">
            <p id="password-match"></p>

            @b3.select( signUpForm("firstMajor"), options = majorByType(FirstMajor), '_label -> Messages("major.first") )
            @b3.select( signUpForm("firstMajor"), options = majorByType(SecondMajor), '_label -> Messages("major.second") )


                <label for="sel3"> 현재 학년(학기)</label>
                <select class="form-actions">
                    <option selected>1학기</option>

                    <option>2학기</option>

                    <option>3학기</option>

                    <option>4학기</option>

                    <option>5학기</option>

                    <option>6학기</option>

                    <option>7학기</option>

                    <option>8학기 이상</option>

                </select>

                <br>

                <label for="teachingProfession" class="control-label">교직 이수 여부</label>
                <label class="radio-inline">
                    <input type="radio" id="teachingProfessionYN" name="teachingProfessionYN" value="Y"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="teachingProfessionYN" name="teachingProfessionYN" value="N" checked> No
                </label>

                <br>

                <label for="privateInfo" class="control-label">개인정보 이용동의 여부</label>
                <label class="radio-inline">
                    <input type="radio" id="privateInfoYN" name="privateInfoYN" value="Y"> 동의합니다
                </label>
                <label class="radio-inline">
                    <input type="radio" id="privateInfoYN" name="privateInfoYN" value="N" checked> 동의하지 않습니다
                </label>


            </div>


                <!--   패스워드 확인
            <div class="form-group" id="divPasswordCheck">
                <label for="inputPasswordCheck" class="col-lg-2 control-label">패스워드 확인</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="passwordCheck" data-rule-required="true" placeholder="패스워드 확인" maxlength="30">
                </div>
            </div>
            -->

            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.up")</button>
                </div>
            </div>
            <div class="sign-in-now">
                <p>@Messages("already.a.member") <a href="@routes.SignInController.view">@Messages("sign.in.now")</a></p>
            </div>
        }
    </fieldset>
    <script src="@routes.Assets.at("javascripts/signUp.js")"></script>

}
