@(signUpForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("sign.up.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("sign.up.account")</legend>
        @helper.form(action = routes.SignUpController.submit()) {
            @helper.CSRF.formField
            @b3.text(signUpForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg", 'pattern -> "[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}")
            @b3.text(signUpForm("SchoolNumber"), '_hiddenLabel -> Messages("SchoolNumber"), 'placeholder -> Messages("SchoolNumber"), 'class -> "form-control input-lg", 'pattern -> "[0-9]{8}")
            @passwordStrength(signUpForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
            <input type="password" class="form-control input-lg" id="passwordcheck" data-rule-required="true" placeholder="비밀번호 확인" maxlength="30">


                <!--
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            -->
            <br>
            <div class="form-group">

                <label for="sel1"> 1 전공</label>
                <select class="form-control" style="visibility: visible" onchange="time_submit()">

                    <option value="AAR01_H1" selected="">
                            &nbsp;(서울)&nbsp;-&nbsp;CORE글로벌지역학&nbsp;(CORE Global Studies)&nbsp;
                    </option>

                    <option value="A1CE1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;EICC학과&nbsp;(Department of English for International Conferences and Communication)&nbsp;
                    </option>

                    <option value="AAQ01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;EU전공&nbsp;(EU  Major)&nbsp;
                    </option>

                    <option value="AKAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Diplomacy전공&nbsp;(Language &amp; Diplomacy)&nbsp;
                    </option>

                    <option value="AKA_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Diplomacy학부&nbsp;(Division of Language &amp; Diplomacy)&nbsp;
                    </option>

                    <option value="A2AA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Trade전공&nbsp;(Language &amp; Trade)&nbsp;
                    </option>

                    <option value="A2A_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Trade학부&nbsp;(Division of Language &amp; Trade)&nbsp;
                    </option>

                    <option value="ALA_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경영학부&nbsp;(Business Administration Division)&nbsp;
                    </option>

                    <option value="ALAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경영학전공&nbsp;(Business Administration)&nbsp;
                    </option>

                    <option value="AEC_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경제학부&nbsp;(Division of Economics)&nbsp;
                    </option>

                    <option value="AECA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경제학전공&nbsp;(Economics)&nbsp;
                    </option>

                    <option value="ACDD1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;광고·PR·브랜딩전공&nbsp;(Advertising·Public Relations·Branding)&nbsp;
                    </option>

                    <option value="AFF01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;교육학&nbsp;(Education)&nbsp;
                    </option>

                    <option value="ACAI1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국가리더전공&nbsp;(National Leader)&nbsp;
                    </option>

                    <option value="AEAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국제통상학과&nbsp;(Department of International  Economics and Law)&nbsp;
                    </option>

                    <option value="AGA_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국제학부&nbsp;(Division of International Studies)&nbsp;
                    </option>

                    <option value="AGAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국제학전공&nbsp;(International Studies)&nbsp;
                    </option>

                    <option value="AAH01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;네덜란드어과&nbsp;(Department of Dutch)&nbsp;
                    </option>

                    <option value="AAD01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;노어과&nbsp;(Department of Russian)&nbsp;
                    </option>

                    <option value="AAC01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;독일어과&nbsp;(Department of German)&nbsp;
                    </option>

                    <option value="AFC01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;독일어교육과&nbsp;(Department of German Education)&nbsp;
                    </option>

                    <option value="ABP01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;동북아전공&nbsp;(North-East Asian Studies Major)&nbsp;
                    </option>

                    <option value="ANJA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;디지털인문한국학전공&nbsp;(Digital Korean Studies in Humanities)&nbsp;
                    </option>

                    <option value="ABC01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;말레이.인도네시아어과&nbsp;(Department of Malay-Indonesian)&nbsp;
                    </option>

                    <option value="ABJ01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;몽골어과&nbsp;(Department  of Mongolian)&nbsp;
                    </option>

                    <option value="ANDD2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;문화콘텐츠학전공&nbsp;(Cultural Contents Major)&nbsp;
                    </option>

                    <option value="ACD_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;미디어커뮤니케이션학부&nbsp;(Division of Media &amp; Communication)&nbsp;
                    </option>

                    <option value="ACDE1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;방송·영상·뉴미디어전공&nbsp;(Broadcasting·Film·New Media)&nbsp;
                    </option>

                    <option value="ADA01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;법학과&nbsp;(Department of Law)&nbsp;
                    </option>

                    <option value="ABF01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;베트남어과&nbsp;(Department of Vietnamese)&nbsp;
                    </option>

                    <option value="AAP01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;브릭스전공&nbsp;(BRICs Major)&nbsp;
                    </option>

                    <option value="ANDB2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;사학과&nbsp;(Department of History)&nbsp;
                    </option>

                    <option value="AKAB1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;사회과학전공&nbsp;(Social Science)&nbsp;
                    </option>

                    <option value="AANA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;세계문화예술경영전공&nbsp;(Art and Cultural Mediation)&nbsp;
                    </option>

                    <option value="AAI01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;스칸디나비아어과&nbsp;(Department of Scandinavian Languages)&nbsp;
                    </option>

                    <option value="AAE01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;스페인어과&nbsp;(Department of Spanish)&nbsp;
                    </option>

                    <option value="ABD01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;아랍어과&nbsp;(Department of Arabic)&nbsp;
                    </option>

                    <option value="ACDA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;언론·정보전공&nbsp;(Journalism &amp; Information)&nbsp;
                    </option>

                    <option value="A1CF1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;언어와공학전공&nbsp;(Language and Technology)&nbsp;
                    </option>

                    <option value="ANDC2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;언어인지과학과&nbsp;(Department of Linguistics and Cognitive Science)&nbsp;
                    </option>

                    <option value="A1CD1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영미문학·문화학과&nbsp;(Department of English Literature and Culture)&nbsp;
                    </option>

                    <option value="AFA01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영어교육과&nbsp;(Department of English Education)&nbsp;
                    </option>

                    <option value="A1BD1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영어전공&nbsp;(English Major)&nbsp;
                    </option>

                    <option value="A1CA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영어학과&nbsp;(Department of English Linguistics)&nbsp;
                    </option>

                    <option value="AFH01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;외국어로서의한국어교육전공&nbsp;(Teaching Korean as a Foreign Language)&nbsp;
                    </option>

                    <option value="ATMB2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;융복합소프트웨어전공&nbsp;(Software Convergence Major)&nbsp;
                    </option>

                    <option value="AJDA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;융합일본지역전공&nbsp;(Integrated Japanese Studies)&nbsp;
                    </option>

                    <option value="AJD_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;융합일본지역학부&nbsp;(Division of Integrated Japanese Studies)&nbsp;
                    </option>

                    <option value="ABI01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;이란어과&nbsp;(Department of Persian)&nbsp;
                    </option>

                    <option value="AAF01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;이탈리아어과&nbsp;(Department of Italian)&nbsp;
                    </option>

                    <option value="ABG01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;인도어과&nbsp;(Department of Hindi)&nbsp;
                    </option>

                    <option value="AJCA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;일본언어문화전공&nbsp;(Japanese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="AJC_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;일본언어문화학부&nbsp;(Division of Japanese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="ACBA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;정치외교학과&nbsp;(Department of Political Science and Diplomacy)&nbsp;
                    </option>

                    <option value="AFI01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국어교육과&nbsp;(Department of Chinese Education)&nbsp;
                    </option>

                    <option value="AICA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국언어문화전공&nbsp;(Chinese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="AIC_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국언어문화학부&nbsp;(Division of Chinese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="AIDA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국외교통상전공&nbsp;(Chinese Foreign Affairs and Commerce)&nbsp;
                    </option>

                    <option value="AID_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국외교통상학부&nbsp;(Division of Chinese Foreign Affairs and Commerce)&nbsp;
                    </option>

                    <option value="ANDA2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;철학과&nbsp;(Department of Philosophy)&nbsp;
                    </option>

                    <option value="ABE01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;태국어과&nbsp;(Department of Thai)&nbsp;
                    </option>

                    <option value="ABH11_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;터키.아제르바이잔어과&nbsp;(Department of Turkish and Azerbaijani)&nbsp;
                    </option>

                    <option value="AAK01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;포르투갈어과&nbsp;(Department of Portuguese)&nbsp;
                    </option>

                    <option value="AAB01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;프랑스어과&nbsp;(Department of French)&nbsp;
                    </option>

                    <option value="AFB01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;프랑스어교육과&nbsp;(Department of French Education)&nbsp;
                    </option>

                    <option value="AAM_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;프랑스어학부&nbsp;(Division of French Language)&nbsp;
                    </option>

                    <option value="AFD01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;한국어교육과&nbsp;(Department of Korean Education)&nbsp;
                    </option>

                    <option value="ACBB1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;행정학과&nbsp;(Department of Public Administration)&nbsp;
                    </option>

                </select>

                <br>

                <label for="sel2"> 이중전공</label>
                <select class="form-control" style="visibility: visible" onchange="time_submit()">

                    <option value="AAR01_H1" selected="">
                            &nbsp;(서울)&nbsp;-&nbsp;CORE글로벌지역학&nbsp;(CORE Global Studies)&nbsp;
                    </option>

                    <option value="A1CE1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;EICC학과&nbsp;(Department of English for International Conferences and Communication)&nbsp;
                    </option>

                    <option value="AAQ01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;EU전공&nbsp;(EU  Major)&nbsp;
                    </option>

                    <option value="AKAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Diplomacy전공&nbsp;(Language &amp; Diplomacy)&nbsp;
                    </option>

                    <option value="AKA_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Diplomacy학부&nbsp;(Division of Language &amp; Diplomacy)&nbsp;
                    </option>

                    <option value="A2AA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Trade전공&nbsp;(Language &amp; Trade)&nbsp;
                    </option>

                    <option value="A2A_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;Language &amp; Trade학부&nbsp;(Division of Language &amp; Trade)&nbsp;
                    </option>

                    <option value="ALA_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경영학부&nbsp;(Business Administration Division)&nbsp;
                    </option>

                    <option value="ALAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경영학전공&nbsp;(Business Administration)&nbsp;
                    </option>

                    <option value="AEC_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경제학부&nbsp;(Division of Economics)&nbsp;
                    </option>

                    <option value="AECA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;경제학전공&nbsp;(Economics)&nbsp;
                    </option>

                    <option value="ACDD1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;광고·PR·브랜딩전공&nbsp;(Advertising·Public Relations·Branding)&nbsp;
                    </option>

                    <option value="AFF01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;교육학&nbsp;(Education)&nbsp;
                    </option>

                    <option value="ACAI1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국가리더전공&nbsp;(National Leader)&nbsp;
                    </option>

                    <option value="AEAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국제통상학과&nbsp;(Department of International  Economics and Law)&nbsp;
                    </option>

                    <option value="AGA_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국제학부&nbsp;(Division of International Studies)&nbsp;
                    </option>

                    <option value="AGAA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;국제학전공&nbsp;(International Studies)&nbsp;
                    </option>

                    <option value="AAH01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;네덜란드어과&nbsp;(Department of Dutch)&nbsp;
                    </option>

                    <option value="AAD01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;노어과&nbsp;(Department of Russian)&nbsp;
                    </option>

                    <option value="AAC01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;독일어과&nbsp;(Department of German)&nbsp;
                    </option>

                    <option value="AFC01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;독일어교육과&nbsp;(Department of German Education)&nbsp;
                    </option>

                    <option value="ABP01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;동북아전공&nbsp;(North-East Asian Studies Major)&nbsp;
                    </option>

                    <option value="ANJA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;디지털인문한국학전공&nbsp;(Digital Korean Studies in Humanities)&nbsp;
                    </option>

                    <option value="ABC01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;말레이.인도네시아어과&nbsp;(Department of Malay-Indonesian)&nbsp;
                    </option>

                    <option value="ABJ01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;몽골어과&nbsp;(Department  of Mongolian)&nbsp;
                    </option>

                    <option value="ANDD2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;문화콘텐츠학전공&nbsp;(Cultural Contents Major)&nbsp;
                    </option>

                    <option value="ACD_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;미디어커뮤니케이션학부&nbsp;(Division of Media &amp; Communication)&nbsp;
                    </option>

                    <option value="ACDE1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;방송·영상·뉴미디어전공&nbsp;(Broadcasting·Film·New Media)&nbsp;
                    </option>

                    <option value="ADA01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;법학과&nbsp;(Department of Law)&nbsp;
                    </option>

                    <option value="ABF01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;베트남어과&nbsp;(Department of Vietnamese)&nbsp;
                    </option>

                    <option value="AAP01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;브릭스전공&nbsp;(BRICs Major)&nbsp;
                    </option>

                    <option value="ANDB2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;사학과&nbsp;(Department of History)&nbsp;
                    </option>

                    <option value="AKAB1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;사회과학전공&nbsp;(Social Science)&nbsp;
                    </option>

                    <option value="AANA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;세계문화예술경영전공&nbsp;(Art and Cultural Mediation)&nbsp;
                    </option>

                    <option value="AAI01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;스칸디나비아어과&nbsp;(Department of Scandinavian Languages)&nbsp;
                    </option>

                    <option value="AAE01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;스페인어과&nbsp;(Department of Spanish)&nbsp;
                    </option>

                    <option value="ABD01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;아랍어과&nbsp;(Department of Arabic)&nbsp;
                    </option>

                    <option value="ACDA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;언론·정보전공&nbsp;(Journalism &amp; Information)&nbsp;
                    </option>

                    <option value="A1CF1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;언어와공학전공&nbsp;(Language and Technology)&nbsp;
                    </option>

                    <option value="ANDC2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;언어인지과학과&nbsp;(Department of Linguistics and Cognitive Science)&nbsp;
                    </option>

                    <option value="A1CD1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영미문학·문화학과&nbsp;(Department of English Literature and Culture)&nbsp;
                    </option>

                    <option value="AFA01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영어교육과&nbsp;(Department of English Education)&nbsp;
                    </option>

                    <option value="A1BD1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영어전공&nbsp;(English Major)&nbsp;
                    </option>

                    <option value="A1CA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;영어학과&nbsp;(Department of English Linguistics)&nbsp;
                    </option>

                    <option value="AFH01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;외국어로서의한국어교육전공&nbsp;(Teaching Korean as a Foreign Language)&nbsp;
                    </option>

                    <option value="ATMB2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;융복합소프트웨어전공&nbsp;(Software Convergence Major)&nbsp;
                    </option>

                    <option value="AJDA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;융합일본지역전공&nbsp;(Integrated Japanese Studies)&nbsp;
                    </option>

                    <option value="AJD_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;융합일본지역학부&nbsp;(Division of Integrated Japanese Studies)&nbsp;
                    </option>

                    <option value="ABI01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;이란어과&nbsp;(Department of Persian)&nbsp;
                    </option>

                    <option value="AAF01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;이탈리아어과&nbsp;(Department of Italian)&nbsp;
                    </option>

                    <option value="ABG01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;인도어과&nbsp;(Department of Hindi)&nbsp;
                    </option>

                    <option value="AJCA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;일본언어문화전공&nbsp;(Japanese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="AJC_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;일본언어문화학부&nbsp;(Division of Japanese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="ACBA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;정치외교학과&nbsp;(Department of Political Science and Diplomacy)&nbsp;
                    </option>

                    <option value="AFI01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국어교육과&nbsp;(Department of Chinese Education)&nbsp;
                    </option>

                    <option value="AICA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국언어문화전공&nbsp;(Chinese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="AIC_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국언어문화학부&nbsp;(Division of Chinese Language, Literature and Culture)&nbsp;
                    </option>

                    <option value="AIDA1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국외교통상전공&nbsp;(Chinese Foreign Affairs and Commerce)&nbsp;
                    </option>

                    <option value="AID_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;중국외교통상학부&nbsp;(Division of Chinese Foreign Affairs and Commerce)&nbsp;
                    </option>

                    <option value="ANDA2_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;철학과&nbsp;(Department of Philosophy)&nbsp;
                    </option>

                    <option value="ABE01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;태국어과&nbsp;(Department of Thai)&nbsp;
                    </option>

                    <option value="ABH11_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;터키.아제르바이잔어과&nbsp;(Department of Turkish and Azerbaijani)&nbsp;
                    </option>

                    <option value="AAK01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;포르투갈어과&nbsp;(Department of Portuguese)&nbsp;
                    </option>

                    <option value="AAB01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;프랑스어과&nbsp;(Department of French)&nbsp;
                    </option>

                    <option value="AFB01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;프랑스어교육과&nbsp;(Department of French Education)&nbsp;
                    </option>

                    <option value="AAM_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;프랑스어학부&nbsp;(Division of French Language)&nbsp;
                    </option>

                    <option value="AFD01_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;한국어교육과&nbsp;(Department of Korean Education)&nbsp;
                    </option>

                    <option value="ACBB1_H1">
                            &nbsp;(서울)&nbsp;-&nbsp;행정학과&nbsp;(Department of Public Administration)&nbsp;
                    </option>

                </select>

                <br>

                <label for="sel3"> 현재 학년(학기)</label>
                <select class="form-actions">
                    <option selected>1학기</option>

                    <option>2학기</option>

                    <option>3학기</option>

                    <option>4학기</option>

                    <option>5학기</option>

                    <option>6학기</option>

                    <option>7학기</option>

                    <option>8학기 이상</option>

                </select>

                <br>

                <label for="teachingProfession" class="control-label">교직 이수 여부</label>
                <label class="radio-inline">
                    <input type="radio" id="teachingProfessionYN" name="teachingProfessionYN" value="Y"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="teachingProfessionYN" name="teachingProfessionYN" value="N" checked> No
                </label>

                <br>

                <label for="privateInfo" class="control-label">개인정보 이용동의 여부</label>
                <label class="radio-inline">
                    <input type="radio" id="privateInfoYN" name="privateInfoYN" value="Y"> 동의합니다
                </label>
                <label class="radio-inline">
                    <input type="radio" id="privateInfoYN" name="privateInfoYN" value="N" checked> 동의하지 않습니다
                </label>


            </div>


                <!--   패스워드 확인
            <div class="form-group" id="divPasswordCheck">
                <label for="inputPasswordCheck" class="col-lg-2 control-label">패스워드 확인</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="passwordCheck" data-rule-required="true" placeholder="패스워드 확인" maxlength="30">
                </div>
            </div>
            -->

            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.up")</button>
                </div>
            </div>
            <div class="sign-in-now">
                <p>@Messages("already.a.member") <a href="@routes.SignInController.view">@Messages("sign.in.now")</a></p>
            </div>
        }
    </fieldset>
}
